@import "../theme/colors", "../theme/fonts", "../theme/spacing";

.view-categorieen{
  
  .views-row{
    width: 50%;
    position: relative;

    img{
      width: 100%;
      height: 100%;
      //no 1px break due to img being inline
      display: block;
    }
  }

  .views-field-field-link-category{
    position: absolute;
    text-align: center;
    width: 100%;
    height: 100%;
    transition: all .2s ease-in-out;

    a{
      border: 2px solid $snow;
      border-radius: $s;
      width: $xl;
      padding-top: 15px;
      padding-bottom: 15px;
      margin-top: 40%;
      text-align: center;
      color: $snow;
      display: inline-block;
      font-variant: small-caps;
      font-size: 24px;
      font-weight: 700;
      visibility: hidden;
    }
  }

  .views-field-field-link-category:before {
    vertical-align: middle;
    .field-content{
      content: '';
      display: inline-block;
    }
  }

  .views-row:nth-child(2){
    left: 50%;
  }
}