@import "../theme/colors", "../theme/spacing";

.node__content{
  background-color: $smurf;
  color: $snow;
  padding: $xxl 0;
  text-align: left;

  div{
    margin: 0 auto;
    padding-left: $s;
    padding-right: $s;
    max-width: 960px;
  }

  .field--type-link{
    font-weight: 700;
    margin-top: $m;
    font-size: 18px;
    a{
      color: $kiwi;
      transition: all .2s ease-in-out;

    }
  }
}