@import "../theme/colors", "../theme/fonts", "../theme/spacing";

header{
  padding-top: $s;
  padding-bottom: $s;
}

#block-sitebranding{
  height: auto;
  width: 125px;
  margin: 0 auto $s auto;
}

nav{
  font-weight: 700;
  text-align: center;

  li{
    padding: $xs;
    transition: all .2s ease-in-out;
    a{
      padding-bottom: $xs;
    }
  }

  .is-active{
    border-bottom: 3px solid $concrete;
    color: $concrete;
  }
}

.messages--status{
  margin-bottom: $s;
}

@media only screen and (min-width: 750px) {
  nav{
    li{
      padding: $s;
    }
  }

}