@import "../theme/spacing", "../theme/colors";


.view-recent-photos, .view-filter-articles{
  .views-row{
    width: 50%;
    float: left;
    overflow: hidden;

    img{
      width: 100%;
      height: 100%;
      //no 1px break due to img being inline
      display: block;
    }
  }
}

.view-filter-articles{
  margin-top: $xxl;
  margin-bottom: $xxl;

  .view-filters{
    margin-bottom: $xl;

    li{
      padding-left: 10px;
      padding-right: 10px;
      font-weight: 700;

      .active{
        padding-bottom: $xs;
        border-bottom: 3px solid $night;
      }
    }
  }
}

