@import "colors", "fonts", "spacing";


html{
  //make sure fonts are sharp!
  -webkit-font-smoothing: antialiased;

  //width
  width: 100%;
}

body{
  //font default
  font-family: 'Lato', sans-serif;
  font-size: 15px;
  color: $night;

  //div elements have padding and border included in total w&h
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

//remove outline from every element
*:focus {
  outline: none;
}