@import "../theme/colors", "../theme/spacing";

.btn-blue{
  .field__item{
    a:hover{
      background-color: $sicksmurf;
      border: 3px solid $sicksmurf;
    }
  }
}

.more-link{
  a:hover{
    background-color: $sickkiwi;
    border: 3px solid $sickkiwi
  }
}

#edit-submit:hover:hover{
  background-color: $sickkiwi;
  border: 3px solid $sickkiwi;
}