@import "../theme/colors", "../theme/spacing";

.btn-blue{
  .field__item{
    a:hover{
      background-color: transparent;
      color: $smurf;
    }
  }
}

.more-link{
  a:hover{
    background-color: transparent;
    color: $kiwi;
  }
}

