@import "../theme/colors", "../theme/fonts", "../theme/spacing";

.btn-blue{
  .field__item{
    display: inline-block;
    margin: 0 $xs;

    a{
      display: inline-block;
      padding: 15px;
      background-color: $smurf;
      color: $snow;
      border-radius: $s;
      font-weight: 700;
      border: 3px solid $smurf;
      transition: all .2s ease-in-out;
    }
  }
}

.more-link{
  display: inline-block;
  width: $xl;
  margin-top: $xl;

  a{
    display: inline-block;
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: $kiwi;
    color: $snow;
    border-radius: $s;
    font-weight: 700;
    border: 3px solid $kiwi;
    transition: all .2s ease-in-out;
  }
}

#edit-submit{
  display: inline-block;
  padding: $xs*2 $s;
  background-color: $kiwi;
  color: $snow;
  border-radius: $s;
  font-weight: 700;
  border: 3px solid $kiwi;
  transition: all .2s ease-in-out;
}