@import "../theme/colors", "../theme/fonts", "../theme/spacing";

.btn-blue{
  .field__item{
    display: inline-block;
    width: $xl;
    margin: $xs;

    a{
      display: inline-block;
      width: 100%;
      padding-top: 15px;
      padding-bottom: 15px;
      background-color: $smurf;
      color: $snow;
      border-radius: $s;
      font-weight: 700;
      border: 3px solid $smurf;
      transition: all .2s ease-in-out;
    }
  }
}