@import "../theme/colors", "../theme/fonts", "../theme/spacing";

h1{
  font-family: 'Gochi Hand', cursive;
  font-size: 48px;
  color: $snow;
  text-transform: lowercase;
  font-variant: small-caps;
  margin-bottom: $s;
}

h2{
  font-size: 24px;
  font-weight: 400;
  margin-bottom: $l;
}

p{
  font-size: 18px;
  line-height: 36px;
  font-weight: 400;
}

strong{
  font-weight: 700;
}